
   
    <form action="/lunch/lists" method="GET">
        <label>"You woke up late!! Eat breakfast fast. Choose one!"</label>
        <ul>
         <lable>You went to work. Finally, it's lunch time!! Your co-worker wants to buy you lunch. Do you want to come along?</lable>
            <input type=radio name='options' value='yes'/><span>Yes</span>
            <input type=radio name='options' value='no'/><span>No</span>
           
        </ul> 
        {{#each userData}}
         <button type="submit" name="name" value="{{this.Name}}">Go for lunch</button>
        {{/each}}
    </form>

  
