
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay In Shape</title>
</head>
<body>
    <h1>InceptionU Project1</h1>
    <h2>Stay In Shape</h2>
    <p>You forgot to bring your lunch box and your wallet.. No choice. Find and join any group for lunch.</p>
    <a href="/lunch/lists">Return to previous page</a>
</body>
</html>
  
